.article-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
}

.post-title a {
  color: white;
}

.post-title a:hover {
  color: #ee6556;
}

.blogpost {
  max-width: 90%;
  text-align: center;
}

.post-title {
  margin: 0;
}

.post-date {
  margin-top: 3px;
  color: #233066;
}

.description {
  background-color: #8195be;
  padding: 10px;
  border-radius: 5px;
}

.to-post {
  padding: 5px 10px;
  background-color: #e7ecffbb;
  border: 2px solid #0d4880;
  font-weight: bold;
  letter-spacing: 1px;
  color: #233066;
}

/* .btn a {
} */

.to-post:hover {
  border: 2px solid #ee6556;
}

.img-small {
  /* margin: auto; */
  margin-bottom: 15px;
  max-width: 90%;
  border-radius: 5px;
}

.videoWrapper {
  position: relative;
  overflow: hidden;
  max-width: 700px;
  width: 100%;
  margin: 50px auto;
}

.videoWrapper::after {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .article-wrapper {
    width: 90%;
    align-items: stretch;
  }

  .article-wrapper:nth-child(even) {
    flex-direction: row;
  }
  .article-wrapper:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .blogpost {
    max-width: 50%;
  }

  .article-wrapper:nth-child(even) .blogpost {
    text-align: left;
  }

  .article-wrapper:nth-child(odd) .blogpost {
    text-align: right;
  }

  .img-small {
    max-width: 40%;
    margin-bottom: 0px;
  }

}

@media screen and (min-width: 800px) {
  .article-wrapper {
    width: 70%;
  }
}
