.book-page-wrapper {
  text-align: center;
}

.title {
  margin: 13px;
}

.h2-title {
  font-size: 1.17em;
}

.cover {
  max-width: 40%;
  margin: 20px auto;
}

.txt {
  max-width: 80%;
  margin: 20px auto;
  text-align: justify;
}

.img {
  margin: auto;
  max-width: 500px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .book-buttons {
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 750px) {
  .cover {
    max-width: 30%;
  }
}
