@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}

html,
body,
#___gatsby {
  height: 100%;
}

body {
  margin: 0px;
  background-color: #000000;
  color: white;
}

p {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.06em;
  line-height: 1.3em;
}

#gatsby-focus-wrapper {
  margin-right: 0px;
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}
