.aboutWrapper {
  margin: auto;
  padding: 20px 30px 0 30px;
  text-align: center;
}

.aboutWrapper h2 {
  text-align: center;
  font-size: 2em;
  margin: 0.67em 0;
}

.aboutContentWrapper {
  display: flex;
  flex-direction: column-reverse;
}

.aboutImage {
  width: 500px;
  max-width: fit-content;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  .aboutWrapper {
    width: 80%;
    padding-top: 40px;
    text-align: left;
  }

  .aboutContentWrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .aboutContent {
    width: 60%;
    padding-right: 20px;
  }
  .aboutImage {
    margin-top: 20px;
    margin-right: 0px;
  }
}
