
.authorWrapper {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.profileImage {
  width: 100px;
}

.authorName {
  margin: 4px;
}

@media screen and (min-width: 600px) {
  .authorWrapper {
    margin-top: 50px;
  }
}
