.slider {
  max-width: 80%;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
}

.cStyle {
  background-color: rgba(240, 248, 255, 0.200);
  padding: 0.415em;
}

.cStyle a {
  color: #fff4d5;
  /* text-decoration-line: underline; */
}