.wrapper {
  background-color: #e7ecff;
}
.footer {
  width: 80%;
  margin: auto;
}

.footer,
.mailto, .rss {
  color: #939ea4;
  text-decoration: none;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom {
  flex-direction: column-reverse;
}

.top a {
  margin: 16px;
}

@media screen and (min-width: 600px) {
  .top,
  .bottom {
    padding-top: 8px;
    flex-direction: row;
  }
}
