.title {
  margin: 60px 20px 0px 20px;
  text-align: center;
}

.heroContentWrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
}

.heroButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heroButtons a {
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.heroButton1 {
  width: 85%;
  margin: auto;
  background-color: #cf2445;
  border: 2px solid #d30a32;
}
.heroButton2 {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  background-color: #2174ae;
  border: 2px solid #0d6db1;
}

.heroImage {
  width: 90%;
  max-width: fit-content;
  margin: 50px auto;
}

@media screen and (min-width: 480px) {
  .heroButtons {
    flex-direction: row;
    align-self: center;
  }

  .heroButton2,
  .heroButton1 {
    width: auto;
    margin: auto;
  }
}

@media screen and (min-width: 550px) {
  .heroImage {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  .heroContentWrapper {
    flex-direction: row;
    text-align: left;
  }

  .heroContent {
    width: 40%;
  }

  .heroImage {
    /* margin-top: -20px; */
    width: 600px;
  }

  .heroButtons {
    flex-direction: column;
    align-self: flex-start;
  }

  .heroButton2,
  .heroButton1 {
    margin: 20px 0px 0px -5px;
    width: 89%;
  }
}
