.heroWrapper {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 50 2880 1440' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg id='hero-shape'%3E%3Cpath d='M1178.63,80.037c-172.791,127.26 -199.568,367.896 -316.592,545.423c-40.738,61.773 -93.376,117.059 -120.84,185.588c-63.051,156.857 23.725,334.785 139.873,459.376c55.385,59.422 120.076,113.88 198.347,138.918c60.191,19.278 124.73,20.072 188.087,20.575l1612.5,10.083c-1.412,-681.225 -2.256,-685.887 0,-1440c-179.086,-0.974 -1102.28,-0.987 -1275.78,1.246c-180.843,2.327 -307.313,-8.334 -425.597,78.791Z' style='fill:%23e7ecff;fill-opacity:0.3;fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: -108px;
}

.heroContentWrapper {
  padding: 65px 30px 0 30px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.heroButtons {
  margin: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.heroButtons a {
  text-decoration: none;
  padding: 5px;
  text-align: center;
}

.heroButton2 {
  width: 85%;
  color: #0d4880;
  background-color: #e7ecffbb;
  border: 2px solid #0d4880;
}

.heroReview {
  text-align: center;
}

.quotes {
  font-family: Noticia Text;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: #e7ecff;
  opacity: 0.25;
}

.heroImage {
  width: 200px;
  max-width: fit-content;
  /* margin: 39px auto; */
  margin: 50px auto;
}

@media screen and (min-width: 320px) {
  .heroButtons {
    flex-direction: row;
  }

  .heroButtons a {
    padding: 13px;
    align-self: center;
  }
  
  .heroButton2 {
    width: auto;
  }
}

@media screen and (min-width: 620px) {
  .heroImage {
    margin-top: 0px;
  }
}
@media screen and (min-width: 750px) {
  .heroImage {
    width: 300px;
  }
}

@media screen and (min-width: 934px) {
  .heroContentWrapper {
    padding: 100px 0 0 100px;
    flex-direction: row;
    text-align: left;
  }
  
  .heroContent {
    width: 30%;
  }
  
  .heroImage {
    margin-top: 20px;
    width: 350px;
  }

  .heroButtons {
    flex-direction: column;
  }

  .heroButtons a {
    align-self: flex-start;
    padding: 5px 0px;
  }

  .heroButton2 {
    width: 89%;
  }  
}
