.container {
  min-height: 94%;
  width: 100vw;
  margin: auto;
  padding-top: 50px;
  font-family: sans-serif;
  background-color: #556fa2;
}

@media screen and (min-width: 934px) {
  .container {
    width: 80vw;
  }
}
