.navbar {
  background: linear-gradient(
    103deg,
    rgb(0, 0, 0) 33%,
    rgba(129, 149, 190, 0) 50%
  );
  transition: background-color 300ms;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
}
.switcher {
  position: fixed;
  top: 0;
  right: 2%;
}

.navbar ul {
  list-style: none;
  padding-left: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.desktop a {
  padding: 14px 10px 15px 10px;
}

.navbar button:hover,
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.349);
}

.navbar button:hover {
  cursor: pointer;
}

.navbar:hover {
  background-color: rgba(255, 255, 255, 0.349);
}

.switcher a:hover {
  background-color: rgba(240, 248, 255, 0);
}

@media screen and (min-width: 934px) {
  .switcher {
    right: 10%;
  }
}
