.nordcapeToPortugalWrapper {
  padding: 40px 30px 0 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}
.nordcapeToPortugalWrapper h2 {
  font-size: 2em;
  margin: 0.67em 0;
}

.nordcapeToPortugalImage {
  width: 300px;
  max-width: fit-content;
  margin: auto;
}

.nordcapeToPortugalContentWrapper {
  text-align: center;
}

.nordcapeToPortugalButtons {
  margin: 40px 0px;
}
.nordcapeToPortugalButtons a {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  align-self: center;
}

.nordcapeToPortugalButton1 {
  color: #0d4880;
  background-color: #e7ecffbb;
  border: 2px solid #0d4880;
}

@media screen and (min-width: 934px) {
  .nordcapeToPortugalWrapper {
    width: 80%;
    flex-direction: row;
  }
  .nordcapeToPortugalContentWrapper {
    margin: 13px auto;
    padding-left: 10px;
    width: 60%;
    text-align: right;
  }

  .nordcapeToPortugalImage {
    margin: 40px auto;
  }
}
