@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}
@font-face {
  font-family: "HussarEkologiczne2";
  src: url(../fonts/HussarEkologiczne2.otf);
  font-display: swap;
}

.postNavWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: 10px; */
}

.toc {
  /* max-width: 40%; */
  margin: auto;
}

.list {
  list-style: none;
}

.list li {
  text-indent: -1.67rem;
  margin-bottom: 5px;
}

.list li::before {
  content: "🍀 ";
}

.title {
  font-family: "Montserrat", cursive;
  text-align: center;
  color: #e7ecff;
  text-shadow: 0px 2px #000000;
  max-width: 70%;
  margin: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
}

video {
  margin-top: 20px;
}

.article,
.heroImg, .prevNext {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.06em;
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
}

.article,
.heroImg {
  max-width: 90%;
  margin: 40px auto;
}

.photoCredit a,
.photoCredit {
  margin-top: 3px;
  text-align: right;
  color: #233066;
}

.toc p {
  font-weight: bold;
  margin-top: 60px;
}

.toc a,
.article a, .prevNext a {
  font-weight: bold;
  color: #fff4d5;
}
.toc ul {
  list-style-type: none;
}
.article a, .prevNext a {
  text-decoration: underline;
}

.toc a:hover,
.article a:hover,
.prevNext a:hover {
  color: #ee6556;
}

.article h2 {
  margin-top: 60px;
}

.article h2,
.article h3 {
  font-family: "HussarEkologiczne2", cursive;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: #e7ecff;
}

.sub, .prevNext {
  margin: 60px 20px 10px 20px;
  text-align: center;
}
.sub p,
.sub h4 {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .postNavWrapper {
    flex-direction: row;
  }

  .toc {
    max-width: 80%;
  }
  .heroImg {
    max-width: 50%;
  }
  .article {
    max-width: 80%;
  }
}
@media screen and (min-width: 800px) {
  .heroImg {
    max-width: 60%;
  }
}
