.projectWrapper {
  text-align: center;
  margin: auto;
  padding: 0 30px 0 30px;
}

.projectWrapper h2 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* .projectWrapper a {
} */

.projectButtons {
  margin: 40px 0px 40px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.projectButtons a {
  color: white;
  text-decoration: none;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
}

.projectButton1 {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  background-color: #2174ae;
  border: 2px solid #0d6db1;
}

.projectButton2 {
  color: #0d4880;
  background-color: #e7ecffbb;
  border: 2px solid #0d4880;
}

@media screen and (min-width: 934px) {
  .projectWrapper {
    width: 80%;
  }
}
