.projectWrapper {
  text-align: center;
  margin: 60px auto;
  padding: 0 30px 0 30px;
}

.projectWrapper h2 {
  font-size: 2em;
  margin: 0.67em 0;
}

.projectButtons {
  margin: 40px 0px 40px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.projectButtons a {
  color: white;
  text-decoration: none;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
}

.projectButton1 {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  color: #cd7020;

  background-color: #2174ae;
  border: 2px solid #0d6db1;
}

.projectButton2 {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  background-color: #cd7020;
  border: 2px solid #cb640a;
}
.projectButton3 {
  width: 85%;
  margin: auto;
  margin-top: 10px;
  background-color: #cf2445;
  border: 2px solid #d30a32;
}

@media screen and (min-width: 934px) {
  .projectWrapper {
    width: 80%;
  }
}
